<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squad.betakua.tap_neko">

    <uses-feature android:name="android.hardware.nfc" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.AuthActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatientActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PharmacistActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pharmacistsettings.PharmacistSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".audiorecord.AzureSpeechActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".barcode.BarcodeScannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nfc.NFCActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nfc.NFCPatientActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".notifications.AlarmReceiver"
            android:enabled="true"></receiver>
    </application>

</manifest>